In [84]:
!ls ../data

bom_imdb_revenue_concatenated.csv
bom.movie_gross.cleaned_for_concat.csv
bom.movie_gross.csv.gz
columns_in_each_csv.csv
imdb.name.basics.csv.gz
imdb.title.akas.csv.gz
imdb.title.basics.csv.gz
imdb.title.crew.csv.gz
imdb.title.principals.csv.gz
imdb.title.ratings.csv.gz
rt.movie_info.tsv.gz
rt.reviews.tsv.gz
tmdb.movies.csv.gz
tn.movie_budgets.cleaned_for_concatenation.csv
tn.movie_budgets.csv.gz

In [74]:
import pandas as pd
import numpy as np

In [6]:
bom = pd.read_csv('../data/bom.movie_gross.cleaned_for_concat.csv')
tn = pd.read_csv('../data/tn.movie_budgets.cleaned_for_concatenation.csv')

In [27]:
concat_df = pd.concat([bom, tn], ignore_index=True, sort=True)
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9169 entries, 0 to 9168
Data columns (total 5 columns):
Unnamed: 0    9169 non-null int64
dom_gross     9141 non-null float64
for_gross     7814 non-null float64
title         9169 non-null object
year          9169 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 358.3+ KB

In [40]:
concat_df.head()

,Unnamed: 0,dom_gross,for_gross,title,year
0,0,415000000.0,652000000.0,Toy Story 3,2010
1,1,334200000.0,691300000.0,Alice in Wonderland (2010),2010
2,2,296000000.0,664300000.0,Harry Potter and the Deathly Hallows Part 1,2010
3,3,292600000.0,535700000.0,Inception,2010
4,4,238700000.0,513900000.0,Shrek Forever After,2010

In [52]:
concat_df = concat_df.drop_duplicates(subset='title')
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7846 entries, 0 to 9168
Data columns (total 5 columns):
Unnamed: 0    7846 non-null int64
dom_gross     7818 non-null float64
for_gross     6492 non-null float64
title         7846 non-null object
year          7846 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 367.8+ KB

In [59]:
concat_df = concat_df.drop(columns=['Unnamed: 0'])
concat_df.head()

     dom_gross    for_gross                                        title  year
0  415000000.0  652000000.0                                  Toy Story 3  2010
1  334200000.0  691300000.0                   Alice in Wonderland (2010)  2010
2  296000000.0  664300000.0  Harry Potter and the Deathly Hallows Part 1  2010
3  292600000.0  535700000.0                                    Inception  2010
4  238700000.0  513900000.0                          Shrek Forever After  2010

In [60]:
concat_df = concat_df[['title', 'year', 'dom_gross', 'for_gross']]

In [79]:
concat_df.iloc[3045, 3]

True

In [80]:
x = zip(concat_df.dom_gross, concat_df.for_gross)

In [81]:
#concat_df['world_gross'] = pd.Series([concat_df.dom_gross[i] + concat_df.for_gross[i] if  for i in range(len(concat_df.dom_gross))], index=concat_df.index)

world_gross = []

for domestic, foreign in zip(concat_df.dom_gross, concat_df.for_gross):
    if np.isnan(foreign):
        world_gross.append(np.nan)
    else:
        world_gross.append(domestic + foreign)
        
concat_df['world_gross'] = pd.Series(world_gross, index=concat_df.index)

In [82]:
concat_df.head()

,title,year,dom_gross,for_gross,world_gross
0,Toy Story 3,2010,415000000.0,652000000.0,1.067000e+09
1,Alice in Wonderland (2010),2010,334200000.0,691300000.0,1.025500e+09
2,Harry Potter and the Deathly Hallows Part 1,2010,296000000.0,664300000.0,9.603000e+08
3,Inception,2010,292600000.0,535700000.0,8.283000e+08
4,Shrek Forever After,2010,238700000.0,513900000.0,7.526000e+08

In [83]:
concat_df.to_csv(path_or_buf='../data/bom_imdb_revenue_concatenated.csv')