In [95]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import missingno

In [96]:
#Uploading data sets in a format that is uniformed
df1 = pd.read_csv('../data/imdb.title.basics.csv.gz') #basic
df2 = pd.read_csv('../data/bom.movie_gross.csv.gz') #rev_data
df3 = pd.read_csv('../data/tn.movie_budgets.csv.gz') #budget_data
df4 = pd.read_csv('../data/imdb.title.ratings.csv.gz') #ratings

In [97]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [98]:
df1.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [99]:
df3.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [100]:
df1.shape

(146144, 6)

In [101]:
df1 = df1.drop(['original_title', 'runtime_minutes'], axis=1)

In [102]:
df1 = df1.rename(columns={'primary_title':'title', 'start_year': 'year'})

In [103]:
df1.head()

      tconst                            title  year                genres
0  tt0063540                        Sunghursh  2013    Action,Crime,Drama
1  tt0066787  One Day Before the Rainy Season  2019       Biography,Drama
2  tt0069049       The Other Side of the Wind  2018                 Drama
3  tt0069204                  Sabse Bada Sukh  2018          Comedy,Drama
4  tt0100275         The Wandering Soap Opera  2017  Comedy,Drama,Fantasy

In [104]:
len(df1['genres'].unique())

1086

In [105]:
df1['title'].loc[df1['genres'].isna()]

16        How Huang Fei-hong Rescued the Orphan from the...
22                                             Gangavataran
35                                            Second Coming
40                                            The Overnight
44                                      Regret Not Speaking
45                                  Tiden är en dröm, del 2
398                                             Chûshingura
560                                        Chalu Dya Tumcha
615                                         Chhand Priticha
619                                          Happy Birthday
632                                 Martha: A Picture Story
728                                              Maza Algar
761                                                  Ubuntu
772                                                   Piola
790                                                   Wakya
792                                                 Biscuit
794                                          Bumper Lottery
898                                      Tunguska Butterfly
915                                                       ;
937                                     Bring Out Your Dead
1126                                                Ophelia
1137                                             Shadowfall
1161                     Six Characters in Search of a Play
1185                                          Demashq Halab
1191                                             Aakhri Pal
1223                               Naminori Office e Yokoso
1234                               Use Me Tokiye Aur Rokiye
1277                                           Taaoras Lied
1288                      Vishwavidhata Shripad Shrivallabh
1290                                                   Zari
                                ...
145793                      Brouwer: El Origen de la Sombra
145814                          Dark Shadows: Speak No Evil
145829                                  Koridor bessmertiya
145840                                               Malang
145843                                              Trapped
145888         Footloose in Austria: Hallstatt and Salzburg
145909                                    Mi querida España
145984                                        Black Minutes
146013    Footloose in Bavaria: Regensburg, Oberpfalz, N...
146014            Footloose in Ireland: Dingle Way & Dublin
146015           Footloose in Spain: Alpujarras & Barcelona
146036                                Youtuber Horror Movie
146048       Josh Groban Bridges from Madison Square Garden
146066                                              Yolanda
146073    Footloose in London: All the Best Sights of ou...
146074         Footloose in Holland: Coast Path & Amsterdam
146075        Keukenhof Gardens and the Dutch Flower Parade
146077                                 Footloose on Madeira
146079    Footloose in the Italian Lakes: Garda Como Lug...
146080                      Footloose in the Austrian Tyrol
146082    Footloose in Italy III: 3 Naples, Sorrento, Am...
146083        A Classic Tour of Scotland: Footloose Special
146085         Footloose in Italy IV: 4 Rimini Tuscany Rome
146086                 Footloose in England's Lake District
146087    Footloose in London II: 2 Undiscovered and Unu...
146088                  Footloose in the Cotswolds - Part 1
146089                  Footloose in the Cotswolds - Part 2
146107         Doctor Who Augmented Reality: Times Magazine
146129                           La vida sense la Sara Amat
146142                                               6 Gunn
Name: title, Length: 5408, dtype: object

In [106]:
type(df1.iloc[44, 3])

float

In [107]:
def sep_genre(genres):
    unique_genre = set()
    for genre in genres:
        if type(genre) == str:
            genre_list = genre.split(',')
            for g in genre_list:
                unique_genre.add(g)
    return unique_genre

In [108]:
sep_genre(df1['genres'])

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [65]:
df_genre = pd.DataFrame(columns=['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'])

In [66]:
df_genre.head()

Empty DataFrame
Columns: [Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western]
Index: []

[0 rows x 27 columns]

In [69]:
genre_cols

['Biography',
 'Musical',
 'Mystery',
 'Sci-Fi',
 'Music',
 'nan',
 'Sport',
 'Adult',
 'Action',
 'Comedy',
 'History',
 'Fantasy',
 'Documentary',
 'Talk-Show',
 'Reality-TV',
 'Short',
 'Horror',
 'Crime',
 'Game-Show',
 'Animation',
 'Adventure',
 'Romance',
 'War',
 'Family',
 'Western',
 'News',
 'Drama',
 'Thriller']

In [ ]:
# def filldata(genres):
#     for genre in genres:
#         if type(genre) == str:
#             genre_list = genre.split(',')
#             for g in genre_list:
#                 unique_genre.add(g)
#     return unique_genre

In [70]:
df1.head()

      tconst                            title  year                genres
0  tt0063540                        Sunghursh  2013    Action,Crime,Drama
1  tt0066787  One Day Before the Rainy Season  2019       Biography,Drama
2  tt0069049       The Other Side of the Wind  2018                 Drama
3  tt0069204                  Sabse Bada Sukh  2018          Comedy,Drama
4  tt0100275         The Wandering Soap Opera  2017  Comedy,Drama,Fantasy

In [91]:
#Looking for duplicate values
df1 = df1.drop_duplicates(subset='title', keep=False)

In [90]:
df1.shape

(146144, 0)

In [92]:
df1.loc[(df1['title'].duplicated())]

KeyError: 'title'

In [94]:
#looking for unmade movies
df1.loc[(df1['year'] > 2019)]

KeyError: 'year'