In [77]:
import numpy as np
import pandas as pd

In [78]:
#Uploading data sets in a format that is uniformed
df1 = pd.read_csv('../data/imdb.title.basics.csv.gz') #basic

In [79]:
df1 = df1.drop(['original_title', 'runtime_minutes'], axis=1)

In [80]:
df1 = df1.rename(columns={'primary_title':'title', 'start_year': 'year'})

In [81]:
indices_without_genre_data = df1[df1['genres'].isna()].index
df1 = df1.drop(indices_without_genre_data)

In [82]:
def sep_genre(genres):
    unique_genre = set()
    for genre in genres:
        if type(genre) == str:
            genre_list = genre.split(',')
            for g in genre_list:
                unique_genre.add(g)
    return unique_genre

In [83]:
genres_col_names = list(sep_genre(df1['genres']))
for genre in genres_col_names:
    df1[genre] = df1.genres.str.contains(pat = genre).astype(bool)

In [84]:
indices_before_2020 = df1[df1['year'] >= 2020].index
df1 = df1.drop(indices_before_2020)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139722 entries, 0 to 146143
Data columns (total 31 columns):
tconst         139722 non-null object
title          139722 non-null object
year           139722 non-null int64
genres         139722 non-null object
Sport          139722 non-null bool
Fantasy        139722 non-null bool
Mystery        139722 non-null bool
War            139722 non-null bool
Biography      139722 non-null bool
Drama          139722 non-null bool
Talk-Show      139722 non-null bool
Musical        139722 non-null bool
Comedy         139722 non-null bool
History        139722 non-null bool
Crime          139722 non-null bool
Adult          139722 non-null bool
Horror         139722 non-null bool
Game-Show      139722 non-null bool
Family         139722 non-null bool
Adventure      139722 non-null bool
Romance        139722 non-null bool
News           139722 non-null bool
Documentary    139722 non-null bool
Western        139722 non-null bool
Short          139722 non-null bool
Sci-Fi         139722 non-null bool
Reality-TV     139722 non-null bool
Action         139722 non-null bool
Thriller       139722 non-null bool
Music          139722 non-null bool
Animation      139722 non-null bool
dtypes: bool(27), int64(1), object(3)
memory usage: 8.9+ MB

In [85]:
#Looking for duplicate values
df1 = df1.drop_duplicates(subset='title')

In [89]:
df1 = df1.drop(['tconst', 'year'], axis=1)

In [91]:
display(df1.head())
display(df1.info())

,title,genres,Sport,Fantasy,Mystery,War,Biography,Drama,Talk-Show,Musical,...,News,Documentary,Western,Short,Sci-Fi,Reality-TV,Action,Thriller,Music,Animation
0,Sunghursh,"Action,Crime,Drama",False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
1,One Day Before the Rainy Season,"Biography,Drama",False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,The Other Side of the Wind,Drama,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Sabse Bada Sukh,"Comedy,Drama",False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,The Wandering Soap Opera,"Comedy,Drama,Fantasy",False,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130465 entries, 0 to 146143
Data columns (total 29 columns):
title          130465 non-null object
genres         130465 non-null object
Sport          130465 non-null bool
Fantasy        130465 non-null bool
Mystery        130465 non-null bool
War            130465 non-null bool
Biography      130465 non-null bool
Drama          130465 non-null bool
Talk-Show      130465 non-null bool
Musical        130465 non-null bool
Comedy         130465 non-null bool
History        130465 non-null bool
Crime          130465 non-null bool
Adult          130465 non-null bool
Horror         130465 non-null bool
Game-Show      130465 non-null bool
Family         130465 non-null bool
Adventure      130465 non-null bool
Romance        130465 non-null bool
News           130465 non-null bool
Documentary    130465 non-null bool
Western        130465 non-null bool
Short          130465 non-null bool
Sci-Fi         130465 non-null bool
Reality-TV     130465 non-null bool
Action         130465 non-null bool
Thriller       130465 non-null bool
Music          130465 non-null bool
Animation      130465 non-null bool
dtypes: bool(27), object(2)
memory usage: 6.3+ MB

None

In [94]:
!pwd

/home/andrew/Coding/FlatironSchool/microsoft-movie-recommendations/data-cleaning-notebooks

In [ ]:
df1.to_csv(/)