In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import missingno

In [2]:
#Uploading data sets in a format that is uniformed
df1 = pd.read_csv('../data/imdb.title.basics.csv.gz') #basic
df2 = pd.read_csv('../data/bom.movie_gross.csv.gz') #rev_data
df3 = pd.read_csv('../data/tn.movie_budgets.csv.gz') #budget_data
df4 = pd.read_csv('../data/imdb.title.ratings.csv.gz') #ratings

In [3]:
df4.shape

(73856, 3)

In [4]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [5]:
df4.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [6]:
cleaned_df4 = df4

In [7]:
cleaned_df4.to_csv(path_or_buf='../data/imdb.title.ratings.cleaned_for_merge.csv')