In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

In [17]:
genres_ratings_df = pd.read_csv('../data/full_df.csv', index_col='Unnamed: 0')
genres_ratings_df.describe().T

,count,mean,std,min,25%,50%,75%,max
averagerating,68212.0,6.337190,1.479918,1.0,5.5,6.5,7.4,10.0
numvotes,68212.0,3582.389741,30962.250287,5.0,14.0,49.0,281.0,1841066.0

In [19]:
genres_ratings_df.head()

,averagerating,numvotes,title,genres,Sport,Fantasy,Mystery,War,Biography,Drama,...,Horror,Family,Adventure,Romance,Documentary,Sci-Fi,Action,Thriller,Music,Animation
0,8.3,31,Laiye Je Yaarian,Romance,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,8.9,559,Borderless,Documentary,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,6.4,20,Just Inès,Drama,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,4.2,50352,The Legend of Hercules,"Action,Adventure,Fantasy",False,True,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
4,6.5,21,Até Onde?,"Mystery,Thriller",False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [30]:
genres_ratings_df['numvotes'].loc[genres_ratings_df['Sport']].mean()

2886.981900452489

In [109]:
def genre_descriptive_stats(df, key_col): #key_column will be what we want to run descriptive stats on
    mean = np.ndarray(0)
    median = np.ndarray(0)
    std = np.ndarray(0)
    print(mean)
    
    df_columns_to_use = df.columns[4:] #change this as needed
    
    for i, genre in enumerate(df_columns_to_use):
        mean = np.append(mean, df[key_col].loc[df[genre]].mean())
        median = np.append(median, df[key_col].loc[df[genre]].median())
        std = np.append(std, df[key_col].loc[df[genre]].std())
        print('looped success')
    d1 = np.append([mean], [median], axis=0)
    d2 = np.append(d1, [std], axis=0)
    d3 = np.transpose(d2)
    descr_stats_df = pd.DataFrame(data=d3, columns=['mean', 'median', 'standard_deviation'], index=list(df_columns_to_use))
    return descr_stats_df

In [111]:
genre_descriptive_stats_df = genre_descriptive_stats(genres_ratings_df, 'numvotes')

[]
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
looped success
a
[[2.88698190e+03 1.26544482e+04 8.37353587e+03 3.18807885e+03
  5.58446554e+03 3.93640613e+03 4.24919936e+03 2.60720244e+03
  8.64581713e+03 2.96375185e+03 2.43462469e+03 2.23603069e+04
  4.18879369e+03 2.67676614e+02 2.00835700e+04 1.50198950e+04
  6.07501810e+03 2.26438292e+03 8.31546473e+03]
 [6.10000000e+01 8.50000000e+01 1.12000000e+02 8.10000000e+01
  3.90000000e+01 7.00000000e+01 9.50000000e+01 3.70000000e+01
  1.60000000e+02 7.50000000e+01 5.30000000e+01 1.08500000e+02
  1.16000000e+02 1.90000000e+01 1.16000000e+02 1.66000000e+02
  1.26000000e+02 3.90000000e+01 9.70000000e+01]]
[[2.88698190e+03 1.26544482e+04 8.37353587e+03 3.18807885e+03
  5.58446554e+03 3.93640613e+03 4.24919936e+03 2.60720244e+03
  8.64581713e+03 2.96375185e+03 2.43462469e+03 2.23603069e+04
  4.18879369e+03 2.67676614e+02 2.00835700e+04 1.50198950e+04
  6.07501810e+03 2.26438292e+03 8.31546473e+03]
 [6.10000000e+01 8.50000000e+01 1.12000000e+02 8.10000000e+01
  3.90000000e+01 7.00000000e+01 9.50000000e+01 3.70000000e+01
  1.60000000e+02 7.50000000e+01 5.30000000e+01 1.08500000e+02
  1.16000000e+02 1.90000000e+01 1.16000000e+02 1.66000000e+02
  1.26000000e+02 3.90000000e+01 9.70000000e+01]
 [2.09781254e+04 6.11142722e+04 4.68910423e+04 1.97850940e+04
  3.98087072e+04 2.93094945e+04 2.81392393e+04 2.30510575e+04
  4.24633393e+04 1.81953664e+04 2.25259332e+04 9.42982736e+04
  2.31782162e+04 1.87446220e+03 9.92045214e+04 7.20621098e+04
  3.96968451e+04 2.01036926e+04 4.23440355e+04]]